<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new organisation</title>
</head>
<body>
    <h1>Add new organisation</h1>

    <form action="#" th:action="@{/organisations/add}" th:object="${organisation}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" />
    </form>
    <div>
        <a th:href="@{/}">Back to list</a>
    </div>
</body>
</html>