<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
</head>
<body>
    <h1>Organisations</h1>

    Welcome, <span th:text="${#authentication.name}">Name</span>

    <div th:switch="${organisations == null}">
        <div th:case="true">Organisations data is available</div>

        <table th:case="false">
            <th:block th:each="organisation : ${organisations}">
                <tr>
                    <td th:text="${organisation.id}"> </td>
                    <td>
                        <a th:href="@{/organisation(id=${organisation.id})}" th:text="${organisation.name}">Organisation name</a>
                    </td>
                    <td>
                        <a th:href="@{/delete(id=${organisation.id})}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <div>
        <a th:href="@{/organisations/add}">Add new organisation</a>
    </div>
</body>
</html>