<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organisation</title>
</head>
<body>
    <h1>Organisation</h1>

    <div th:switch="${organisation == null}">
        <div th:case="true">Organisation data is available</div>

        <div th:case="false" th:text="${organisation.name}">
            Organisation name
        </div>
    </div>

    <h2>Licenses</h2>

    <div th:switch="${licenses == null}">
        <div th:case="true">Licenses data is available</div>

        <div th:case="false">
            <table>
                <th:block th:each="license : ${licenses}">
                    <tr>
                        <td th:text="${license.id}">Id</td>
                        <td th:text="${license.licenseType}">Type</td>
                        <td th:text="${license.productName}">Product name</td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

    <a th:href="@{/organisations/addLicense(id=${organisation.id})}">Add new license</a>
</body>
</html>